In [18]:
#GroupBy is about grouping rows together based on some column values
#Aggregate is a function that agregates over a bunch of rows (take a sum of numerical imputs)
import os
os.getcwd()
os.chdir('/home/will/Documents/Python-and-Spark-for-Big-Data-master/Spark_DataFrames')

In [11]:
1. #Import Spark
from pyspark.sql import SparkSession

In [12]:
2. #Start a spark session
spark = SparkSession.builder.appName('aggs').getOrCreate()

In [26]:
#3. Load dataframte
pwd= '/home/will/Documents/Python-and-Spark-for-Big-Data-master/Spark_DataFrames'
os.getcwd()
df = spark.read.csv(pwd+'/sales_info.csv', inferSchema=True, header=True)

In [30]:
df.head()
df.show()
df.printSchema()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [37]:
#Group by the COmpany
df.groupBy('Company')
df.groupBy('Company').mean().show()
df.groupBy('Company').max().show()
df.groupBy('Company').count().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [39]:
#Let's Pull some functions over all rows
df.agg({'Sales':'sum'}).show()
df.agg({'Sales':'max'}).show()
df.agg({'Sales':'count'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

+------------+
|count(Sales)|
+------------+
|          12|
+------------+

In [42]:
group_data = df.groupBy('Company')
group_data.agg({'Sales',:'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [43]:
#importing functions
from pyspark.sql.functions import countDistinct,avg, stddev

In [46]:
df.select(countDistinct('Sales')).show()
df.select(avg('Sales').alias('Average Sales')).show()

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                   11|
+---------------------+

+-----------------+
|    Average Sales|
+-----------------+
|360.5833333333333|
+-----------------+

In [52]:
df.select(stddev('Sales')).show()
from pyspark.sql.functions import format_number
sales_std = df.select(stddev('Sales').alias('std'))

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

+---------+
|std final|
+---------+
|   250.09|
+---------+

In [54]:
#Order and Sort Things
df.show(5)

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
+-------+-------+-----+
only showing top 5 rows

In [57]:
df.orderBy('Sales').show(5)
df.orderBy(df['Sales'].desc()).show(5)

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
+-------+-------+-----+
only showing top 5 rows

+-------+------+-----+
|Company|Person|Sales|
+-------+------+-----+
|     FB|  Carl|870.0|
|   APPL|  Mike|750.0|
|   MSFT|  Tina|600.0|
|   APPL| Chris|350.0|
|     FB| Sarah|350.0|
+-------+------+-----+
only showing top 5 rows